.bg-login {
    min-height: 100vh;
    min-width: 100vw;
}

.card-login {
    width: 450px;
}

.btn-masuk {
    background: #363636;
}

.bg-daftar {
    min-height: 100vh;
    min-width: 100vw;
}

.card-daftar {
    width: 450px;
}

.card-unggah-lukisan {
    width: 1300px;
}

.greet {
    color: white;
    font-size: larger;
}

.btn-daftar {
    background: #363636;
}

.bg-header {
    min-width: 100vw;
    background: #363636;
}

.bg-home {
    background-image: url("../asset/bg-home.jpg");
    min-height: 85vh;
    min-width: 100vw;
    background-position: center;
    background-size: cover;
}

.btn-lihat {
    border-radius: 10px;
    height: 50px;
    width: 130px;
}

.txt-tgldiskon {
    color: #8E8E8E;
}

.section-footer {
    background: #363636;
    padding: 20px 50px 20px;
    font-size: small;
    min-width: 100vw;
}
.fill-footer{
    min-height: calc(100vh - 227.5px);
}
.bgcard-art {
    background: #363636;
    width: 300px;
    height: 340px;
    border-radius: 7px;
    font-size: x-large;
}

.card-art {
    width: 280px;
    height: 280px;
    margin: 20px 30px 20px 0px;
    border-radius: 7px;
    background-color: white;
}

.card-art2 {
    width: 330px;
    height: 350px;
    margin: 0px 30px 20px 0px;
    border-radius: 7px;
}

.box-card {
    position: absolute;
    margin: 10px 0px 0px 180px;
}

.art {
    width: 670px;
    height: 720px;
}

.tampilan-lukisan {
    width: 120px;
    height: 120px;
}

.box-stock {
    min-width: 40vw;
    min-height: 13vh;
    background-color: #EEEEEE;
    border-radius: 15px;
}

.box-quantity {
    width: 240px;
}

.box-deskripsi {
    min-width: 40vw;
    min-height: 80vh;
    background-color: #EEEEEE;
    border-radius: 15px;
}

.btn-tambah-keranjang {
    font-size: small;
    background: #363636;
    border-radius: 10px;
    width: 230px;
    height: 45px;
}

.btn-beli-langsung {
    background-color: white;
    font-size: small;
    border-radius: 10px;
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 45px;
}

.search {
    background-color: white;
    min-width: 40vw;
    min-height: 8vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 65px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.btn-diskusi {
    background-color: #444444;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.btn-ulasan {
    background-color: #444444;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.bg-dropdown {
    background-color: #444444;
}

.bg-isi {
    background-color: #DFE0E0;
    min-width: 90.5vw;
    min-height: 100vh;
}

.btn-jadi-member {
    background-color: #363636;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.logo-error {
    width: 150px;
}

.myCarousel {
    width: 600px;
    height: 400px;
}

.myCarousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.peringatan {
    font-size: x-small;
}

.bubble-chat{
    width: 100%;
    border-radius: 20px;
}
.profil{
 max-width: 60px;
}

.text-diskusi{
    width: 100%;
    height: 150px;
}
.card-footer{
    border-radius: 12px;
}

.diskusi-form{
    width: 1200px;
    height: 80px;
}
